body,
html
  font-weight 300
  font-family 'sohne-var';
h1
  margin-bottom 20px !important
.remove-padding
  padding-left 0px !important
  padding-right 0px !important
  padding-top 0px !important
.Section__title
  padding-top 0px
  h1, h2
    max-width 640px
    font-size 2.3rem
    color var(--default-title-color)
    letter-spacing  -0.8px
    font-weight 500
    &.align-center
      margin 0px auto
.z10
  z-index 10
.z100
  z-index 100 !important
.info__Wrap
  text-align left
  img
    width 40px
    margin-bottom 14px
  h2
    font-size 0.9rem
    color var(--title-color-default)
    border-left: 4px solid #4844e2;
    margin-left: -14px;
    z-index: 100;
    padding-left: 10px;
  h3
    font-size 1.2rem
    color white
  p
    color var(--paragraph-color-default)
    margin-top 10px
    font-size 0.9rem
ul.side-footer
  list-style none
  margin-top 0px
  padding-right 0px
  margin-left 20px
  padding-left 0px
  li
    display inline-block
    margin-right 20px
    margin-bottom 10px
    a
      color var(--default-list-color)
      display inline-block

ul.default-list
  list-style none
  margin-top 30px
  &.margin-top
    margin-top 50px
    padding-left 15
  li
    background-image url("./assets/check.png")
    background-size 20px
    background-repeat no-repeat
    padding-left 38px
    margin-bottom 10px
    color var(--default-list-color)

.brands
  border-bottom 1px solid var(--border-secondary-color)
  margin-top 0px
  padding-top 40px
  padding-bottom 40px
  img
    height 26px
    margin 20px 0px 20px 0px

.support_wrap
  display flex
  justify-content flex-start
  align-items top
  text-align left
  margin-top 20px
  margin-bottom 20px
  img
    width 42px
    margin-right 18px
    margin-top 5px
  span
    display block
    text-transform uppercase
  label
    margin-bottom 0
    color var(--default-list-color)
    font-size 0.9rem
.in-content-comment
  margin-top 20px
  p
    color var(--default-paragraph-color) !important
  .author
    display flex
    justify-content flex-start
    color white
    img
      height 28px
      margin-right 10px
.comment-wrap
  display flex
  max-width 900px
  margin 0px auto
  text-align left
  .commetary
    width 60%
  .person
    width 30%
    display flex
    justify-content flex-start
    span
      display block
    .name
      color var(--primary-color)
      font-weight 400
      font-size 1.2rem
    .sub-name
      color white
    img
      width 56px
      height 56px
      margin-right 15px

footer
  .footer-wrap
    padding-top 70px
    padding-bottom 40px
    display grid
    grid-template-columns repeat(4,1fr)
    justify-content space-between
    width 100%
    max-width var(--layoutWidth)
    margin 0 auto
    padding-left 20px
    padding-right 20px
    h4
      font-size 1rem
      text-align left
    ul
      padding-left 0px
      list-style none
      li
        text-align left
        a
          font-size 0.9rem
          color var(--default-list-color)
section
  position relative
.guidelines
  display flex
  position absolute
  top -230px
  margin-top -230px
  width 100%
  max-width var(--layoutWidth)
  margin 0 auto
  height 130vh
  left 0
  right 0
  div
    width 25%
    border-right 1px solid var(--border-secondary-color)
  &:first-child
    border-left 1px solid var(--border-secondary-color)

  div:nth-child(1)
    border-right 1px dashed var(--border-secondary-color)
  div:nth-child(2)
    border-right 1px dashed var(--border-secondary-color)
  div:nth-child(3)
    border-right 1px dashed var(--border-secondary-color)
  &.secondary
    top 0
    div
      border-color var(--border-default-color)
    &:first-child
      border-color var(--border-default-color)

.add-border-l-r
  border-right 1px solid var(--border-secondary-color)
  border-left 1px solid var(--border-secondary-color)
.add-border-bottom
  border-bottom 1px solid var(--border-secondary-color)
.carousel
  padding-top 50px
  min-height 230px
.payments-image
  max-width 310px
  position absolute
  top 20px
  right 100px
.bigger-bottom-padding
  padding-bottom 200px !important

#canvas-complex {
  position: absolute;
  display: block;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.program-layout
  text-align left
  padding-bottom 150px
  max-width 900px
  margin 0px auto
  .small-description
    color var(--default-list-color)
    font-size 1.1rem
    margin-bottom 40px
  h2
    color var(--title-color-default)


footer
  padding-top 10px
  z-index 199

.copyright
  width 100%
  max-width var(--layoutWidth)
  margin 0 auto
  padding-left 20px
  padding-right 20px
  font-size 0.8rem
  .wrap
    display flex
    justify-content space-between
    font-size 0.8rem
    color var(--default-list-color)
    padding-top 20px
    padding-bottom 20px
    border-top 1px solid #ddd
  .madeBy
    color var(--default-list-color)
    cursor pointer
    img
      height 13px
      margin-left 5px

.sticky-top
  top 100px !important

.slide-up-down-1,
.slide-up-down-2
  position absolute
.slide-up-down-1
  z-index 10
  margin-left 50px
  margin-top -170px
  top 0px
.slide-up-down-2
  z-index 0
  margin-right 50px
  margin-top -100px

@media only screen and (max-width: 968px)
  .Section__layout
    padding-left 30px !important
    padding-right 30px !important
  .guidelines
    display none
  .comment-wrap
    flex-direction column
    .commetary
      width 100%
      order 1
    .person
      width 100%
      order 2
  .carousel
    padding-top 50px
    min-height 300px
  footer
    .footer-wrap
      padding-left 30px
      padding-right 30px
      grid-template-columns repeat(2,1fr)
  .carousel-indicators
    display none !important
  .header img.head
    position initial !important
  ul.side-footer
    margin-left 0px !important
  .news-filtering h6
    margin-left 0 !important
@media only screen and (max-width: 968px)
  .brands
    grid-template-columns repeat(2,1fr) !important
    img
      height 18px
  .sub-rule-for-absolute
    padding-top 290px
  .slide-up-down-1
    z-index 10
    margin-left 50px
    margin-top 0px
    top 0px
  .slide-up-down-2
    z-index 0
    margin-right 50px
    margin-top 40px
@media only screen and (min-width: 968px)
  .add-padding-desktop
    padding-left 15px
    padding-right 15px
  footer
  .footer-wrap .single
      padding-left 60px
  .make-container-for-absoulute
    padding-top 180px !important
    padding-bottom 260px !important
.makebackground
  background-image url("./assets/test_background.jpg") !important
  background-size cover !important
  background-repeat no-repeat !important
  border-top 1px solid #f1f1f1
  border-bottom 1px solid #f1f1f1

.choose-brand
  display flex
  justify-content center
  margin-bottom 30px
  margin-top 20px
  padding-left 20px
  padding-right 20px
  div
    margin-left 10px
    margin-right 10px
    cursor pointer
    padding 3px 20px 6px 20px
    border 1px solid #ededed
    border-radius 5px
    width 50%
  img
    max-height 19px
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  .neteller
    img
      opacity 0.8
      max-height 18px

  .skrill
    img
      opacity 0.3
  .selected
    img
      filter: grayscale(0);
      opacity 1

table.form-table
  width 90%
  tr
    td
      padding 9px
      label
        font-size 0.8rem
        text-transform uppercase
        color var(--default-list-color)
        margin-top 10px

.form-control
  box-shadow 0 2px 5px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(130,130,130,0.19) !important;
  background transparent !important
  border 1px solid #ededed !important
  padding 12px 15px 12px 15px !important
  color #111 !important
form.paynura
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(130,130,130,0.19) !important;
  padding 40px 20px 40px 20px
  border-radius 20px

p.list-color
  color var(--default-list-color)
@media only screen and (min-width: 968px)
  .add-rule-desktop
    margin-top 70px

.top-phone
  max-width 300px
  margin-top -50px
.addon_1
  max-width 200px
@media only screen and (max-width: 768px)
  .header h1
    margin-top 20px
    font-size 2rem
  .top-phone
    max-width 300px
    margin-top 0px
@media only screen and (min-width: 768px)
  .add-padding-desktop-h1
    margin-left 20px
h1 span
  color var(--secondary-color)
.circles
  position absolute
  left 30px
  top 10px

.error-border
  border 1px solid #ff9523 !important
.error-message
  color #ff9523

.default-paragraph
  color var(--default-list-color)
  font-size 1rem
.bottom-foot
  a
    font-size 0.9rem
    color var(--default-list-color)
    margin-right 20px