.button
  padding var(--button-default-Padding)
  border-radius var(--button-default-border-Radius)
  pointer cursor
  align-items center
  color var(--button-default-color)
  border 1px solid transparent
  background white
  color #111
  font-size 0.9rem
  display inline-block
  cursor pointer
  &:hover
    background var(--primary-color) !important
    color white
  span
    float left
  i
    margin-left 8px
    font-size 1.2rem
    float left
    margin-top 2px
  &.transparent
    background-color rgba(255,255,255, 0.2)
  &.white
    color white
  &:hover
    text-decoration none
  &.outline
    background transparent !important
    border-color white
    color white !important
  &.main
    background var(--secondary-color)
    color white
  &.outline-2
    border-color #ddd !important
    color var(--default-list-color)
    background transparent
.button.outline-2:hover
  color white !important
.button.outline:hover
  border-color #111
  color #fff !important

.button.transparent:hover
  background #111 !important
.dropdown-toggle.regular
  border none
  background transparent
  color var(--default-list-color)
  padding-left 0
  padding-right 0
.header .button
  color var(--secondary-color)
.header .button:hover
  color white
.button
  display inline-flex
  justify-content center
  align-items center
  i
    font-size 0.8rem