@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap')
@import "body.styl"
@import "buttons.styl"
@import "grid.styl"
@import "header.styl"
@import "news.styl"
@import "animation.styl"
@import "nav.styl"

@font-face {
  font-family: 'sohne-var';
  src: local('sohne-var'), local('sohne-var'), url(../src/assets/fonts/soehne-test-buch.woff) format('woff');
}

body
  --primary-text-color: #425466
  --primary-color: #46a2ff
  --secondary-color: #6d50c5
  --layoutWidth: 980px
  --columnPaddingNormal 48px
  --sectionPaddingTop: 140px
  --sectionPaddingBottom: 140px
  --button-default-Padding: 5px 20px 5px 20px
  --button-default-border-Radius: 6px
  --button-default-color: white
  --default-paragraph-color: #d9d8ff
  --paragraph-color-default: #425466
  --title-color-default: #282828
  --section-background-grey: #f8f8f8
  --border-default-color: #355077
  --border-secondary-color: #efefef
  --default-list-color: #7d7d7d
  --default-title-color: #282828
  --light-blue-color: #9eaacc

@media only screen and (max-width: 900px)
  body
    --sectionPaddingTop: 100px
    --sectionPaddingBottom: 100px