

.Section__layoutContainer
  width 100%
  max-width var(--layoutWidth)
  margin 0 auto

.Section__layout
  padding-top var(--sectionPaddingTop)
  padding-bottom var(--sectionPaddingBottom)
  padding-left 15px
  padding-right 15px

.ColumnLayout
  display grid
  grid-gap 30px
  -webkit-box-align start
  align-items flex-start
  &.align-center
    align-items center !important
footer
  &.grey
    background var(--section-background-grey)
section
  &.grey
    background var(--section-background-grey)
  &.colored
    background background linear-gradient(-317deg, rgba(109,80,197,1) 0%, rgba(118,110,220,1) 52%, rgba(61,141,222,1) 100%)
    margin-bottom 80px
    h1,
    p
      color white
  &.blue-gradient,
  &.blue-flat
    background rgb(39,75,129)
    background linear-gradient(180deg, rgba(39,75,129,1) 0%, rgba(39,59,99,1) 50%)
    h2
      color white
    p
      color var(--light-blue-color)
  &.blue-flat
    background rgba(39,59,99,1)
    border-top 1px solid var(--border-default-color)
  &.blue-gradient
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  &.blue-flat-gradient
    background rgb(39,75,129)
    background linear-gradient(180deg, #273c64 0%, #3172b4 90%)
    border-top 1px solid var(--border-default-color)
    h2
      color white
    p
      color var(--light-blue-color)
.skew
  height 80px
  background #000
  transform skewY(-2deg)
  margin-bottom -30px
  &.grey
    background var(--section-background-grey)

@media only screen and (min-width: 600px)
  .ColumnLayout
  &.two
    grid-template-columns repeat(2,1fr)
  &.four
    grid-template-columns repeat(4,1fr)

@media only screen and (max-width: 900px)
  .ColumnLayout.four.two-mobile
    grid-template-columns repeat(2,1fr)
  section
    &.colored
      margin-bottom 10px