.back-header
  background rgb(109,80,197)
  background linear-gradient(-317deg, rgba(109,80,197,1) 0%, rgba(118,110,220,1) 52%, rgba(61,141,222,1) 100%)
  clip-path: polygon(0 0,100% 0,100% 60%,0 100%);
  min-height 700px
  margin-top -56px
  position absolute
  top 0
  left 0
  right 0
  &.no-angle
    clip-path polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important
.header
  min-height 590px
  position relative
  text-align left
  overflow hidden
  padding-bottom 50px

  img.head
    max-height: 500px; position: absolute;  top:60px;
  svg
    position absolute
    bottom -1px
    width 100%
    height 15vw
    left 0
  p
    color var(--default-paragraph-color)
  h1
    color white
  .button
    margin-right 10px
@media only screen and (max-width: 600px)
  .header
    padding-top 0px
    img
      position inherit
      max-height initial
      width 100%

  .payments-image
    display none
  ul.default-list
  &.margin-top
    margin-top 15px !important
    padding-left 0 !important
  section.blue-gradient
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  footer
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-top 0px
    padding-top 40px

@media only screen and (max-width: 900px)
  .payments-image
    right -40px

.smaller-top-padding
  padding-top 50px