.navbar-brand
  img
    max-height 18px

.navbar
  transition all 0.4s
  z-index 10
  .nav-link
    color #fff
    letter-spacing .2px
    font-size 0.92rem
    font-weight 500


.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: underline;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {


  .navbar .navbar-brand, .navbar .nav-link {
    color: #555;
  }
}
@media (min-width: 992px)
  .navbar-expand-lg .navbar-nav .nav-link
   padding-right: 0.9rem !important;
   padding-left: 0.9rem !important;

.navbar.is-sticky
  position fixed !important;
  background rgba(255,255,255,0.5)
  background: background linear-gradient(-317deg, #6d50c5 0%, #766edc 52%, #3d8dde 100%);
  top 0
  right 0
  left 0
  z-index 1030
  width 100%
  -webkit-animation .95s ease-in-out 0s normal none 1 running fadeInDown
  animation .95s ease-in-out 0s normal none 1 running fadeInDown
  -webkit-transition all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
  transition all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
  -webkit-box-shadow 0 8px 20px 0 rgba(0, 0, 0, 0.1)
  box-shadow 0 8px 20px 0 rgba(0, 0, 0, 0.1)

.trusted-partner
  color white
  font-size 0.8rem