.filters-wrap
  width 35%
.news-filtering
  display flex
  justify-content center
  flex-wrap wrap
  padding-left 70px
  padding-right 10px
  margin-top 50px
  h6
    color var(--default-title-color)
    margin-bottom 25px
    width 100%
    margin-left 15px
    font-weight bold
    font-size 1.2rem
  a.filter
    color var(--default-list-color)
    margin-left 5px
    margin-right 5px
    font-weight 300
    border 1px solid #efefef
    border-radius 4px
    padding 4px 16px 4px 16px
    margin-bottom 15px
    font-size 0.8rem
    text-transform uppercase
  a.filter:hover
    color var(--primary-color)
    border 1px solid var(--primary-color)
    text-decoration none
.exposed-item
  display flex
  justify-content space-between
  flex-wrap wrap
  flex 1 0 auto
  .image
    width 60%
  img
    width 100%
  .data
    width 35%
    text-align left
  label
    display block
    color white
    margin-bottom 5px
    font-size 0.9rem
  p
    margin-top 15px
    color var(--default-paragraph-color)
  h2
    color white
    font-size 2.7rem
.avatar
  border-radius 50px
  width 24px !important
  height 24px !important
  margin-right 5px !important
  margin-left 0px !important

.news-list
  position relative
  display flex
  .news-grid
    width 65%
    display flex
    flex-direction row
    grid-gap 30px
    -webkit-box-align start
    align-items flex-start
    grid-template-columns repeat(3,1fr)
    margin-top 50px
    text-align left
    flex-wrap wrap

    a
      display inline-flex
      h2
        margin-top 0px
        color var(--default-title-color)
        font-size 1.2rem
        font-weight bold
      p
        color var(--primary-text-color)
        margin-bottom 4px
      label
        color var(--default-list-color)
        display block
        font-size 0.8rem
      label.author
        color var(--title-color-default)
        font-size 0.8rem
      label.author span
        color var(--default-list-color)
      .image
        order 2
        width 34%
        padding-left 20px
        padding-top 34px
      .data
        order 1
        width 68%
      img
        width 100%
        max-width 290px
        margin-left 0px
    a:hover
       text-decoration none
    a:hover h2
      color var(--primary-color) !important

.news-single
  width 60%
  padding-bottom 80px
  text-align left
  h1,h2,h3,h4
    color var(--title-color-default)
  h2,h3,h4
    margin-bottom 25px
    margin-top 50px
  .main-image
    margin-bottom 50px
    img
      width 100%
  .head
    p
      color var(--default-list-color)
.social-share-bottom
  width 100%
  display flex
  justify-content center
  flex-wrap wrap
  align-items center
  margin-top 50px
  a
    display inline-block
    font-size 1.6rem
    margin-left 10px
    margin-right 10px
    color var(--secondary-color)
  a:hover
    color var(--primary-color)

.dont-be-late
  display flex
  justify-content flex-start
  flex-wrap wrap
  align-items center
  text-align left
  margin 0px auto
  margin-bottom 50px
  .text-right
    margin-top 15px
  h4
    margin-bottom 6px
    font-size 1.3rem
    color var(--title-color-default)
  p
    font-size 0.9rem
  div
    width 50%
  button
    background var(--primary-color)
    border 1px solid var(--primary-color)
    color white
    font-size 0.9rem
    padding 6px 10px 6px 10px
    border-top-right-radius 6px
    border-bottom-right-radius 6px
  input
    border 1px solid var(--border-secondary-color)
    padding 5px 15px 5px 15px
    border-radius 0px
    margin-left 30px
    max-width 200px

.news-single-wrap
  padding-left 20px
  padding-right 40px
  display flex
  flex-wrap wrap
  .right
    width 25%
    margin-top 5px
    .author
      padding-right 60px
      padding-left 60px
      text-align right
      color var(--default-list-color)
      label
        span
          color var(--default-title-color)
      p
        color var(--default-list-color)
        font-size 0.9rem


h4.in-news-title
  color var(--title-color-default)
  margin-bottom 40px !important
.trending-news
  display grid
  grid-template-columns repeat(3,1fr)
  flex-wrap wrap
  text-align left
  .avatar
    border-radius 50px
    width 24px
    height 24px
    margin-right 5px
  a
    font-size 1rem !important
    margin-bottom 40px
    h3
      font-size 1rem !important
      color var(--title-color-default)
      font-weight bold
    label
      color var(--title-color-default)
      font-size 0.8rem
    label span
      color var(--default-list-color)
    span.date
      color var(--default-list-color)
      font-size 0.8rem
  a:hover
    text-decoration none
  a:hover h3
    color var(--primary-color) !important
@media only screen and (max-width: 900px)
  .news-list
    .exposed-item
      .data
        width 100%
        margin-top 20px
  .news-grid
    grid-template-columns repeat(1,1fr) !important
  .trending-news
    display grid
    grid-template-columns repeat(1,1fr)
  .dont-be-late
    flex-direction column
    width 100%
    div
      width 100%
    .text-right
      text-align left
  .news-grid
    width 100% !important
  .news-list
    flex-direction column
  .news-grid
    a
      img
        margin-left 20px
      h2
        font-size 1rem !important
      p
        font-size 0.8rem !important
      .image
        width 40% !important
      .data
        width 60% !important
  .filters-wrap
    width 100%
  .news-filtering
    padding-left 0px !important
    padding-right 0px !important
  .exposed-item
    display flex
    justify-content space-between
    flex-wrap wrap
    flex 1 0 auto
    .image
      width 100%
    img
      width 100%
    .data
      width 100%
      text-align left
      margin-top 30px
      padding-left 0px
  .news-single-wrap
    padding-left 20px
    padding-right 20px
    .right
      width 100%
      order 2
      text-align left
      margin-bottom 40px
      .author
        padding-left 0px
        padding-right 0px
        text-align left
  .news-single
    width 100%
    order 1
    padding-bottom 10px